.container {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.conatctLists {
  max-width: 400px;
  padding: 10px;
}

.css-q0jhri-MuiInputBase-root-MuiInput-root {
  padding: 5px !important;
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  outline: none;
}